
@{
    ViewData["Title"] = "Logs";
}

<h2>ViewData["Title"]</h2>


<form method ="get">
    <input type="text" class="form-control" name="search" value ="@Model.Search"/>
    <input type="submit" class="btn btn-primary" value="Search"/>
</form>

