#outerDiv {
    border: 3px dotted blue;
    width: 300px;
}

#middleDiv {
    border: 3px dashed red;
}

#innerDiv {
    border: 3px solid green;
    border-radius: 5px;
    font-size: 25px;
}

div {
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}